@tailwind base;
@tailwind components;
@tailwind utilities;
body{
    position: fixed;
    margin: 0;
    padding: 0;
    overscroll-behavior: none; /* Блокує перетягування сторінки */
    height: 100%;
}